
body {
    background-color: #0D4C92;
    color: aliceblue;

}

#submitLibrary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

form {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    
}

#bookArea {
    grid-column: 1 / 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #428f8c;
    margin: 30px;
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
}

#bookT:invalid:required {
    background-color: rgb(200, 202, 164);
}

#bookT:valid {
    background-color: white;
}